<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>readme</title>
</head>
<body>
<div class="section" id="chm-author">
    <h1>CHM 作者说明</h1>
    <p>本文档由 wumouse &lt;wumouse@qq.com&gt; 根据官方文档仓库编译成 htmlhelp 项目，然后做了如下优化：</p>
    <ul>
        <li>生成类名，短类名，类常量，类方法的索引</li>
        <li>给文档加上常量值，方法锚点</li>
        <li>精简默认编译出来的许多无用的静态文件，减少一半CHM的体积</li>
        <li>替换HTML5标签为HTML4</li>
        <li>去掉CHM不需要的顶部和底部区块</li>
        <li>去掉页面所有的JS</li>
        <li>下载网络样式表，将引用替换为本地</li>
        <li>将 Iframe 引用的视频替换为链接，并添加 target="_blank"使其可以在浏览器打开</li>
        <li>删除对CHM无用的标签块</li>
    </ul>
    <p></p>
</div>
</body>
</html>
